{% extends "playout.html" %}
{% block content %}
<div class="box">
  <div class="container p-5 w-50">
    <form action="" method="POST" novalidate>
      {{ form.hidden_tag() }}    

      <div class="row">
        <div class="col">
        <div class="form-group">
          {% if form.fname.errors %}
          {{ form.fname(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.fname.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.fname(class='form-control form-control-lg' , placeholder='First Name') }}
          {% endif %}
        </div>
        </div>
        <div class="col">
        <div class="form-group">
          {% if form.lname.errors %}
            {{ form.lname(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.lname.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.lname(class='form-control form-control-lg' , placeholder='Last Name') }}
          {% endif %}
        </div>
      </div>
      </div>

      
      <div class="form-group">
        {% if form.username.errors %}
          {{ form.username(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class='form-control form-control-lg' , placeholder='Username') }}
        {% endif %}
      </div>

      <div class="form-group">
        {% if form.email.errors %}
          {{ form.email(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class='form-control form-control-lg' , placeholder='Email') }}
        {% endif %}
      </div>

      <div class="form-group">
        {% if form.password.errors %}
          {{ form.password(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class='form-control form-control-lg', placeholder='Password') }}
        {% endif %}
      </div>

      <div class="form-group">
        {% if form.confirm_password.errors %}
          {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm_password(class='form-control form-control-lg' , placeholder='Confirm Password') }}
        {% endif %}
      </div>

      <div class="form-group ">
        {{ form.number.label(class="form-control-label") }}
        {% if form.number.errors %}
          {{ form.number(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.number.errors %}<span>{{ error }}</span>{% endfor %}
          </div>
        {% else %}
          {{ form.number(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group my-3">
        {{ form.submit(class='btn btn-info') }}
      </div>
    </form>

    <small class="text-muted ml-2">
      have an account?
      <a href="{{ url_for('app.login') }}" class="link ml-2">Sign in here</a>
    </small>
  </div>
</div>
{% endblock %}
